*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.mt_50 {margin-top: 50px;}

/* fine common */

.box {
    background-color: greenyellow
    border: 1px solid white;
    /* height: 768px; */
}

.box img {
    width: 50%;
}